@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --primary-color: #000D83;
    --secondary-color: #0BB4FF;
    --primary-text-color: #040931B5;
    --background-color: #E7EFFF;
    --sub_heading_font-size: 1.125rem; 
    --heading_font-size: 2.5rem;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", sans-serif;
    width: 100%;
}

/* header section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    color: var(--primary-color);
    padding: 15px;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 10;
}

header > * {
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
}

nav ul li a:hover, .menu-btn a:hover{
    color: var(--secondary-color);
}

.menu-btn a{
    padding: 0 10px;
}

.menu-btn .signup{
    margin-left: 10px;
    border: 1px solid var(--primary-color);
    padding: 5px 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-btn .signup:hover{
    background-color: var(--primary-color);
    color: #fff;
}

/* hero section styling */

.hero-section{
    background-color: var(--background-color);
    padding: 15px;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 15px;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.hero-image{
    width: 50%;
}

.hero-image img{
    width: 100%;
}

.sub_heading{
    font-size: var(--sub_heading_font-size);
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 16px;
}

.heading{
    font-size: var(--heading_font-size);
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 24px;
}

.hero-text h1.heading, .school-section h2.heading{
    width: 60%;
}


p{
    font-size: 1rem;
    color: var(--primary-text-color);
    line-height: 1.7;
    font-weight: 400;
}

.hero-text p{
    width: 70%;
    margin-bottom: 20px;
}

.btn-group{
    margin: 24px 0;
    display: inline-flex;
    align-items: center;
    gap: 2rem;;
}

.btn, .outline-btn{
    padding: 16px 38px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover, .outline-btn:hover{
    background-color: var(--secondary-color);
    color: #fff;
}

.btn a {
    color: #fff;
}

.outline-btn a{
    color: var(--primary-color);
}

.outline-btn{
    background-color: transparent;
}

/* avatar group */
.avatar-stats{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.avatar-group{
    display: flex;
    align-items: center;
}

.avatar{
    position: relative;
    margin-left: -15px;
}

.avatar-image img{
 border: 2px solid #fff;
 border-radius: 50%;
 width: 48px;
 height: 48px;
}

.placeholder .avatar-counter{
    width: 48px;
    height: 48px;
    background-color: #333;
    border-radius: 50%;
    color: #fff;
    font-size: 0.875rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about section styling */

.about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 15px;
}

.about-image, .about-info{
    width: 50%;
}

.about-info h2.heading{
    width: 65%;
}

/* why us box */
.why-us{
    margin-top: 40px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
}

.why-us-box{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 80%;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.why-us-box:hover{
    transform: scale(1.05);
}

.icon-text{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 40px;
}

.icon{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDFAFF;
    border-radius: 50%;
}

.icon img{
    width: 24px;
    height: 24px;
}

h3{
    font-size: 1rem;
    color: #333;
    line-height: 40px;
}

.arrow-icon{
    margin-left: auto;
}

/* school section */
.school-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 15px;
}

.school-section .text-content p{
    width: 65%;
}

/* studing section */
.class-content{
    text-align: center;
}

.classes-section h2.heading{
    width: 42%;
    margin: 0 auto;
}

.class-cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
}

.class-card{
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.class-card:hover{
    transform: translateY(-10px);
}

.course-image{
    width: 100%;
    object-fit: cover;
    margin-bottom: 12px;
}

.course-title{
    font-size: 1.2rem;
    color: #040931;
    font-weight: 600;
    margin-bottom: 5px;
}

.student-count{
    color: #555;
    font-size: 0.87rem;
    margin-bottom: 10px;
}

.star-rating{
    color: #FDC350;
    font-size: 12px;
    margin-bottom: 8px;
}

/* newsletter section */

.newsletter{
    position: relative;
    height: 450px;
    background-image: url("../images/news-letter.png");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.newsletter .overlay{
    background-color: #000D83d7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
}

.newsletter .content{
    text-align: center;
    color: white;
}

.newsletter .content h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.newsletter p{
    margin-bottom: 30px;
    color: #fff;
}

.newsletter .btn{
    background-color: var(--secondary-color);
}

/* footer section */

footer{
    background: var(--background-color);
    color: var(--primary-color);
    padding: 15px;
}

.footer{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    padding: 50px 20px;
    gap: 2rem;
}
.footer-section{
    display: flex;
    flex-direction: column;
}

.footer-section h4{
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.footer-section p{
    margin: 20px 0;
}

.footer .logo img{
    max-width: 150px;

}

.footer .social-media a {
    color: var(--primary-text-color);
    margin-right: 15px;
    background-color: var(--secondary-color);
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 12px;
    transition: all 0.3s ease-in-out;
}

.footer .social-media a:hover{
    background-color: var(--primary-color);
    transform: translateY(-10px);
}

.footer ul{
    padding: 0;
}

.footer ul li{
    margin-bottom: 10px;
}

.footer ul li a{
    color: var(--primary-text-color);
}

.footer ul li a:hover{
    color: var(--secondary-color);
}